<ion-menu contentId="main-content">
  <ion-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="margin-top: 5%;margin-left: 5%;margin-right: 5%;">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-header>
  
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> Observaciones</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="container">
  <ion-tabs >
    <ion-tab-bar slot="top">
      <ion-tab-button  (click)="labores()">
        <ion-icon name="archive"></ion-icon>
        Labores
      </ion-tab-button>
      <ion-tab-button (click)="consumos()">
        <ion-icon name="library"></ion-icon>
        Consumos
      </ion-tab-button>
      
      <ion-tab-button  (click)="desplaza()">
        <ion-icon name="paper-plane"></ion-icon>
        Desplazamientos
      </ion-tab-button>
      <ion-tab-button  (click)="casos()">
        <ion-icon name="warning"></ion-icon>
        Casos Especiales
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>

<ion-card style="margin-top: 18%;">
  <ion-card-header>
    <ion-card-title>Observaciones</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input label="descripción" placeholder="" [(ngModel)]="descrip" [clearInput]="true"></ion-input>
    </ion-item>


    <ion-button expand="block" style="margin-bottom: 5px;"  (click)="error()">Agregar</ion-button>
  </ion-card-content>
</ion-card>




<ion-toast trigger="open-toast" message="Se regreso al menu pricipal, operacion en pausa" [duration]="3000"></ion-toast>

</ion-content>
</div>