<ion-menu contentId="main-content">
  <ion-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" (click)="logout(p.title)" [href]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="margin-top: 5%;margin-left: 5%;margin-right: 5%;">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-header>

</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Desplazamientos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">


    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button  (click)="labores()">
          <ion-icon name="archive"></ion-icon>
          Labores
        </ion-tab-button>
        <ion-tab-button (click)="consumos()">
          <ion-icon name="library"></ion-icon>
          Consumos
        </ion-tab-button>
        <ion-tab-button  (click)="observ()">
          <ion-icon name="eye"></ion-icon>
          Observación
        </ion-tab-button>
        <ion-tab-button  (click)="casos()">
          <ion-icon name="warning"></ion-icon>
          Casos Especiales
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>


    <ion-item style="margin-top: 15%;">
      <ion-select label="Origen" label-placement="fixed" placeholder="Trayecto realizado" [(ngModel)]="cant">
        <ion-select-option style="min-width: 100px;padding: 15px;"  *ngFor="let arregloSinDuplicados of arregloSinDuplicados" >{{arregloSinDuplicados}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 5%;">
      <ion-select label="Destino" label-placement="fixed" placeholder="Trayecto realizado" [(ngModel)]="cantt">
        <ion-select-option style="min-width: 100px;padding: 15px;"  *ngFor="let arregloSinDuplicados of arregloSinDuplicados" >{{arregloSinDuplicados}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-fab style="margin-top: 3%;margin-left: 40%;">
      <ion-fab-button (click)="agregar(creadez)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <br>
    <br>

    <ion-card *ngFor="let cardss of cardss" >
      <ion-grid>
        <ion-row>
          <ion-col><h3>{{cardss.municipioinicio}}</h3></ion-col>
          <ion-col><h3>{{cardss.municipiofin}}</h3></ion-col>
          <ion-col><ion-button  fill="clear"    (click)="eliminar(cardss.iddesplazamientocuadrilla)">
            <ion-icon slot="icon-only" name="trash-outline"  size="large"></ion-icon>
          </ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>


    <ion-toast trigger="open-toast" message="Se regreso al menu pricipal, operacion en pausa" [duration]="3000"></ion-toast>


  </ion-content>
</div>

