<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>actinstalacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">actinstalacion</ion-title>
    </ion-toolbar>
  </ion-header>


</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-left: 5%;" >
  <ion-fab-button (click)="acta()" id="open-toast">
    <ion-icon name="checkmark-outline"  size="large"></ion-icon>
  </ion-fab-button>
