<ion-menu contentId="main-content">
  <ion-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" (click)="logout(p.title)" [href]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="margin-top: 5%;margin-left: 5%;margin-right: 5%;">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-header>

</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Consumos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="container">

  <ion-tabs >
    <ion-tab-bar slot="top">
      <ion-tab-button  (click)="labores()">
        <ion-icon name="archive"></ion-icon>
        labores
      </ion-tab-button>

      <ion-tab-button  (click)="desplaza()">
        <ion-icon name="paper-plane"></ion-icon>
        desplazamientos
      </ion-tab-button>
      <ion-tab-button  (click)="observ()">
        <ion-icon name="eye"></ion-icon>
        Observación
      </ion-tab-button>

      <ion-tab-button  (click)="casos()">
        <ion-icon name="warning"></ion-icon>
        casos especiales
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

  <div class="ion-padding" >

    <ion-item style="margin-top: 15%; " >
      <ion-select  label="Material"    label-placement="fixed" placeholder="Material" [(ngModel)]="idaa" >
        <ion-select-option   value="{{laboress.id}}" *ngFor="let laboress of laboress">{{laboress.nombre}}</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item  >
    <ion-input  label="Cantidad" type="number" placeholder="(Metros/Unidades)" [(ngModel)]="cant"></ion-input>
  </ion-item>

  <ion-fab style="margin-top: 2%;margin-left: 40%;">
    <ion-fab-button (click)="agregar(crearconsum)">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  </ion-fab>




  <br>
  <br>
  <ion-card *ngFor="let cards of cards" >
    <ion-grid>
      <ion-row>
        <ion-col><h5>{{cards.nombre}}</h5></ion-col>
        <ion-col><h4>{{cards.cantidad}} {{cards.unidadmedida}}</h4></ion-col>
        <ion-col><ion-button  fill="clear"    (click)="eliminar(cards.iddesplazamientocuadrilla)">
          <ion-icon slot="icon-only" name="trash-outline"  size="large"></ion-icon>
        </ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</div>



<ion-toast trigger="open-toast" message="Se regreso al menu pricipal, operacion en pausa" [duration]="3000"></ion-toast>

</ion-content>
</div>
