<ion-menu side="start" menuId="first" contentId="main-content" >
  <ion-header>
    <ion-toolbar >
      <ion-title>Labores</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item [routerLink]="p.url" (click)="logout(p.title)" routerDirection="root">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (onclick)=openCustom()>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> Casos Especiales</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="container">
  <ion-tabs >
    <ion-tab-bar slot="top">
      <ion-tab-button  (click)="labores()">
        <ion-icon name="archive"></ion-icon>
        Labores
      </ion-tab-button>
      <ion-tab-button (click)="consumos()">
        <ion-icon name="library"></ion-icon>
        Consumos
      </ion-tab-button>

      <ion-tab-button  (click)="desplaza()">
        <ion-icon name="paper-plane"></ion-icon>
        Desplazamientos
      </ion-tab-button>

      <ion-tab-button  (click)="observ()">
        <ion-icon name="eye"></ion-icon>
        Observación
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

<ion-card style="margin-top: 18%;">
  <ion-card-header>
    <ion-card-title>Casos Especiales</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input label="Descripción" placeholder="" [(ngModel)]="descrip"></ion-input>
    </ion-item>

    <ion-item style="margin-bottom: 50px;">
      <ion-input label="Tiempo" type="number" placeholder="(Minutos)" [(ngModel)]="minutos"></ion-input>
    </ion-item>
    <ion-button expand="block" style="margin-bottom: 5px;" color="dark" (click)="agregar(creacaso)">generar</ion-button>
    <ion-button  expand="block" fill="outline" color="dark" (click)="home()">omitir</ion-button>
  </ion-card-content>
</ion-card>

<ion-card *ngFor="let cards of cards" >
  <ion-grid>
    <ion-row>
      <ion-col><h5>{{cards.descripcion}}</h5></ion-col>
      <ion-col><h4>{{cards.tiempo}}</h4></ion-col>
      <ion-col><ion-button  fill="clear"    (click)="eliminar(cards.idcasoespeciales)">
        <ion-icon slot="icon-only" name="trash-outline"  size="large"></ion-icon>
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-card>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-left: 5%;" >
  <ion-fab-button (click)="acta()" id="open-toast">
    <ion-icon name="checkmark-outline"  size="large"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-toast trigger="open-toast" message="Se regreso al menu pricipal, operacion en pausa" [duration]="3000"></ion-toast>

</ion-content>
</div>
