<ion-menu contentId="main-content" menuId="dashboard">
  <ion-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" (click)="logout(p.title)" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="margin-top: 5%;margin-left: 5%;margin-right: 5%;">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-header>
  
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="toggleMenu()"></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 

    <ion-header>

    </ion-header>

    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime  id="datetime" displayFormat="DD/MM/YYYY" [(ngModel)]="fechaHoraSeleccionada" ></ion-datetime>

      </ng-template>
    </ion-modal>
    
    <ion-datetime-button datetime="datetime1" style="margin-top: 15px; "></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime  id="datetime1" displayFormat="DD/MM/YYYY" [(ngModel)]="fechaHoraSeleccionada2"></ion-datetime>

      </ng-template>
      
    </ion-modal>
    
    <br>
    <ion-toggle [checked]="true" [(ngModel)]="validacion">Documento validado</ion-toggle><br /><br />
    <ion-button (click)="dashboard(credashboard)" style="width: 100%;" >filtro</ion-button>
    <ion-content>
      <canvas
      baseChart
      class="chart"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    ></canvas>

<div class="mi-grid">

<ion-grid style="border: 2px solid #000;">
  <ion-row class="mi-grid" >
    <ion-col class="mi-grid">
      Fecha
    </ion-col >
    <ion-col class="mi-grid">
      Estimado
    </ion-col>
    <ion-col class="mi-grid">
      Acumulado
    </ion-col>
    <ion-col class="mi-grid">
      Meta
    </ion-col>
  </ion-row>

  <ion-row  *ngFor="let fechast of fechast;let indice=index">
    <ion-col class="mi-grid">
     {{fechast}}
    </ion-col>
    <ion-col class="mi-grid">
      {{tiempost[indice]}}
    </ion-col>
    <ion-col class="mi-grid">
      {{acumulad[indice]}}
    </ion-col>
    <ion-col class="mi-grid">
      {{metas[indice]}}
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col>
      TOTALES
    </ion-col>
    <ion-col>
      {{total}}
    </ion-col>
    <ion-col>
    </ion-col>

    </ion-row>
    </ion-grid>

  </div>
    </ion-content>
  </ion-content>
</div>