<ion-content >
  <ion-card >
    <ion-card-header style="margin-bottom: 10%;margin-top: 10%;">
      <img [src]="imageUrl" alt="Mi imagen" />
      <ion-card-title>INGRESO CUADRILLAS </ion-card-title>
      <ion-card-subtitle>App Cuadrillas Bitwan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Enter text" #alias></ion-input>
      <br>
      <br>
      <ion-input label="Contraseña" type="password" label-placement="floating" fill="outline" placeholder="Enter text" #password></ion-input>
    </ion-card-content>
    <br>
    <ion-button style="margin: 5%;" shape="round" expand="block" (click)="login(alias.value,password.value)" >Ingresar</ion-button>
  </ion-card>
</ion-content>
