<ion-menu contentId="main-content" >
  <ion-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="margin-top: 5%;margin-left: 5%;margin-right: 5%;">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-header>
  
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 

    <ion-card style="margin-top: 5%;">
      <ion-card-header>
        <ion-card-title>Casos Especiales</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-input label="Descripcion" placeholder="" [(ngModel)]="descrip"></ion-input>
        </ion-item>
    
        <ion-item style="margin-bottom: 50px;">
          <ion-input label="Tiempo" type="number" placeholder="(Minutos)" [(ngModel)]="minutos"></ion-input>
        </ion-item>
        <ion-button expand="block" style="margin-bottom: 5px;" color="dark" (click)="agregar(creacaso)">generar</ion-button>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngFor="let cards of cards" style="z-index: 0;">
      <ion-card-header>
        <ion-card-title>{{cards.descripcion}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <h3>{{cards.tiempo}}</h3>
        <ion-button  fill="clear" style="padding-right: 3px;" (click)="eliminar(cards.idcasoespeciales)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>

  </ion-content>
</div>