<ion-menu contentId="main-content" menuId="ini">
  <ion-header>

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item routerDirection="root" (click)="logout(p.title)" [href]="[p.url]" lines="none" detail="false" routerLinkActive="selected" style="margin-top: 5%;margin-left: 5%;margin-right: 5%;">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-header>

</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="toggleMenu()"></ion-menu-button>
      </ion-buttons>
      <ion-title>Agendas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div *ngFor="let agendaData of agendaData; let i = index">
    <ion-card style="margin-top: 10px;">
      <ion-card-header>
        <ion-card-title>{{agendaData.nombretiposolicitud}}</ion-card-title>
        <ion-card-subtitle>{{agendaData.nombremunicipio}},{{agendaData.nombredepartamento}}</ion-card-subtitle>
        {{agendaData.descripciondireccion}}
      </ion-card-header>

      <ion-card-content>
        {{ agendaData.nombrecontactosolicitud}}
        <br>
        {{agendaData.celular1}}
      </ion-card-content>



      <ion-button id="open-modal" fill="clear" (click)="setOpen(true,i,agendaData.numeroservicio,agendaData.nombretiposolicitud,agendaData.idagenda)" >Detalles</ion-button>



    </ion-card>

  </div>



    <ion-modal [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Volver</ion-button>
            </ion-buttons>
            <ion-title></ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="laborselect(agendaData[target].nombretiposolicitud)" [strong]="true">{{ estado }}</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-card>
              <ion-card-header >
                <ion-card-title>{{agendaData[target].nombretiposolicitud}}</ion-card-title>
                <ion-card-subtitle>{{agendaData[target].nombremunicipio}},{{agendaData[target].nombredepartamento}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content >
                <h3>Nombre</h3>
                <h4>{{ agendaData[target].nombrecontactosolicitud}}</h4>
                <br>
                <h3>plan</h3>
                <h4>{{ agendaData[target].nombreplan}}</h4>
                <br>
                <h3>fecha de inicio</h3>
                <h4>--/----/--</h4>
                <br>
                <h3>fecha de finalizacion</h3>
                <h4>--/----/--</h4>
                <br>
                <h3>descripcion</h3>
                <h4>{{agendaData[target].nombretiposolicitud}}</h4>
                <br>
                <h3>direccion</h3>
                <h4>{{agendaData[target].descripciondireccion}}</h4>
                <br>
                <h3>telefono</h3>
                <h4>{{agendaData[target].celular1}}</h4>
                <br>
                <h3>telefono secundario</h3>
                <h4>{{agendaData[target].celular2}}</h4>

              </ion-card-content>


            </ion-card>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>

</div>
